<app-header></app-header>
<br><br><br><br>
<div  style="display: flex;">
    <div class="card mb-3" style="width: 40%; margin-left: 120px; ">
        <img class="card-img-top" src="../../assets/images/purdue.jpg" alt="Card image">
        <div class="card-body" style="display: flex; background-color:darkorchid;">
            <h1 class="card-title">Purdue University</h1>
            <button type="button"  class="btn btn-primary clickable" [routerLink]="['/map-devices']" style="margin-left: 200px; margin-bottom: 10px;">More Info</button>
        </div>
    </div>
    <div class="card mb-3" style="width: 40%; margin-left: 40px;">
        <img class="card-img-top" src="../../assets/images/pfw.jpg" style="height: 83%;" alt="Card image">
        <div class="card-body" style="display: flex; background-color: cyan;" >
            <h1 class="card-title">Purdue Fort Wayne</h1>
            <button type="button" class="btn btn-primary clickable" [routerLink]="['/map-devices']" style="margin-left: 200px; margin-bottom: 10px;">More Info</button>
        </div>
    </div>

</div>
<div  style="display: flex;  margin-top: 5%;">
    <div class="card mb-3" style="width: 40%; margin-left: 120px; ;">
        <img class="card-img-top" src="../../assets/images/iupui.jpg" style="height: 83%;" alt="Card image">
        <div class="card-body" style="display: flex; background-color:darkseagreen">
            <h1 class="card-title">IUPUI</h1>
            <button type="button" class="btn btn-primary clickable" [routerLink]="['/map-devices']" style="margin-left: 200px; margin-bottom: 10px;">More Info</button>
        </div>
    </div>
    <div class="card mb-3" style="width: 40%; margin-left: 40px;">
        <img class="card-img-top" src="../../assets/images/pnw.jpg" style="height: 83%;" alt="Card image">
        <div class="card-body" style="display: flex; background-color: darksalmon;" >
            <h1 class="card-title">Purdue Northwest</h1>
            <button type="button" class="btn btn-primary clickable" [routerLink]="['/map-devices']" style="margin-left: 200px; margin-bottom: 10px;">More Info</button>
        </div>
    </div>

</div>
<br><br><br>