
<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Sensor Hub Timestamp</th>
                <th>Server Timestamp</th>
                <th>RSSI</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sweep of sweeps">
                <td>{{ sweep.device_name }}</td>
                <td>{{ sweep.hub_timestamp | date: 'medium' }}</td>
                <td>{{ sweep.server_timestamp | date: 'medium' }}</td>
                <td>{{ sweep.rssi }}</td>
            </tr>
        </tbody>
    </table>
</div>
